/* Var */

$color-main: #4cd137;
$color-light: #fff;
$color-draw: #fbc531;
$color-lose: #e84118;

$transition: .3s;

/* Global */

*, *::after, *::before{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
}

/* Buttons */

#buttons, #game-mode {
    margin: 60px auto;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.btn {
    position: relative;
    background: transparent;
    height: 100px;
    width: 100px;
    margin: 0 10px;
    padding: 0;
    border-radius: 50%;
    border: 3px solid $color-main;
    color: $color-main;
    transition: $transition;
    outline: none;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: auto;
    }
    &:hover {
        background: $color-main;
        color: $color-light;
    }
}

/* Score */

.scores {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    div {
        display: inline;
    }
    span {
        margin: 0 12px;
    }
}

/* MSG */

#messages {
    margin: 60px auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-size: 40px;
}
.result {
    position: relative;
    animation: show-result 3s;
    transform: scale(1);
}
.draw{
    color: $color-draw;
}
.win{
    color: $color-main;
}
.lose{
    color: $color-lose;
}
@keyframes show-result {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(.001);
    }
}